<div class="alert alert-block alert-info">
    Import <b>Libraries</b>
</div>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVR
import pickle

<div class="alert alert-block alert-info">
    1. <b>Data Gathering</b> : <a href="https://www.kaggle.com/datasets/spscientist/students-performance-in-exams">Click Me</a>
    <br>
    1. <b>Data Loading</b>
</div>

In [4]:
df = pd.read_csv("Student_performance_data _.csv")
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

<div class="alert alert-block alert-info">
    3. <b>Data Exploration</b>
</div>

In [5]:
df.head(2)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0

In [6]:
df.tail(2)

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [7]:
df.columns

Index(['StudentID', 'Age', 'Gender', 'Ethnicity', 'ParentalEducation',
       'StudyTimeWeekly', 'Absences', 'Tutoring', 'ParentalSupport',
       'Extracurricular', 'Sports', 'Music', 'Volunteering', 'GPA',
       'GradeClass'],
      dtype='object')

In [8]:
df.count()

StudentID            2392
Age                  2392
Gender               2392
Ethnicity            2392
ParentalEducation    2392
StudyTimeWeekly      2392
Absences             2392
Tutoring             2392
ParentalSupport      2392
Extracurricular      2392
Sports               2392
Music                2392
Volunteering         2392
GPA                  2392
GradeClass           2392
dtype: int64

In [9]:
df.describe()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
count,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000
mean,2196.500000,16.468645,0.510870,0.877508,1.746237,9.771992,14.541388,0.301421,2.122074,0.383361,0.303512,0.196906,0.157191,1.906186,2.983696
std,690.655244,1.123798,0.499986,1.028476,1.000411,5.652774,8.467417,0.458971,1.122813,0.486307,0.459870,0.397744,0.364057,0.915156,1.233908
min,1001.000000,15.000000,0.000000,0.000000,0.000000,0.001057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1598.750000,15.000000,0.000000,0.000000,1.000000,5.043079,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.174803,2.000000
50%,2196.500000,16.000000,1.000000,0.000000,2.000000,9.705363,15.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.893393,4.000000
75%,2794.250000,17.000000,1.000000,2.000000,2.000000,14.408410,22.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,2.622216,4.000000
max,3392.000000,18.000000,1.000000,3.000000,4.000000,19.978094,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   StudentID          2392 non-null   int64
 1   Age                2392 non-null   int64
 2   Gender             2392 non-null   int64
 3   Ethnicity          2392 non-null   int64
 4   ParentalEducation  2392 non-null   int64
 5   StudyTimeWeekly    2392 non-null   float64
 6   Absences           2392 non-null   int64
 7   Tutoring           2392 non-null   int64
 8   ParentalSupport    2392 non-null   int64
 9   Extracurricular    2392 non-null   int64
 10  Sports             2392 non-null   int64
 11  Music              2392 non-null   int64
 12  Volunteering       2392 non-null   int64
 13  GPA                2392 non-null   float64
 14  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(12)
memory usage: 280.4 KB

In [11]:
df.shape
print(f"Number of Rows: {df.shape[0]} and Number of Columns: {df.shape[1]}")

Number of Rows: 2392 and Number of Columns: 15

In [12]:
df.columns

Index(['StudentID', 'Age', 'Gender', 'Ethnicity', 'ParentalEducation',
       'StudyTimeWeekly', 'Absences', 'Tutoring', 'ParentalSupport',
       'Extracurricular', 'Sports', 'Music', 'Volunteering', 'GPA',
       'GradeClass'],
      dtype='object')

In [13]:
df['Absences'].unique()

array([ 7,  0, 26, 14, 17, 10, 22,  1, 11, 15, 21,  9, 16, 29,  2, 25, 20,
        5,  8, 12, 27, 23,  3, 13,  6, 28,  4, 18, 19, 24])

In [14]:
df.nunique()

StudentID            2392
Age                     4
Gender                  2
Ethnicity               4
ParentalEducation       5
StudyTimeWeekly      2392
Absences               30
Tutoring                2
ParentalSupport         5
Extracurricular         2
Sports                  2
Music                   2
Volunteering            2
GPA                  2371
GradeClass              5
dtype: int64

In [15]:
df.isnull().sum()

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

<div class="alert alert-block alert-info">
    4. <b>Data Pre-Processing</b>
</div>

<div class="alert alert-block alert-warning">
    4.1. <b>Manage Null Values</b>
</div>

In [16]:
df = df.drop('StudentID', axis=1)

In [18]:
df['GPA'].mean()

np.float64(1.9061863027265407)

In [19]:
df['GPA'].median()

np.float64(1.8933926937866847)

In [20]:
df['GPA'].mode()[0]

np.float64(0.0)

In [44]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])
df['Ethnicity'] = df['Ethnicity'].fillna(df['Ethnicity'].mode()[0])
df['ParentalEducation'] = df['ParentalEducation'].fillna(df['ParentalEducation'].mode()[0])

In [ ]:
# # For Object / String Type
# def fillnaObjectMode(cols):
#     for i in cols:
#         df[i] = df[i].fillna(df[i].mode()[0])

# columns = [ 'Gender','Ethnicity','ParentalEducation']
# fillnaObjectMode(columns)

In [ ]:
# def fillnaIntMode(cols):
#     for i in cols:
#         df[i] = df[i].fillna(df[i].mode()[0])

# columns = [ 'Gender','Ethnicity','ParentalEducation','Tutoring','ParentalSupport','Extracurricular','Sports','Music','Volunteering','GradeClass']
# fillnaIntMode(columns)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             2392 non-null   int64
 1   Ethnicity          2392 non-null   int64
 2   ParentalEducation  2392 non-null   int64
 3   StudyTimeWeekly    2392 non-null   float64
 4   Absences           2392 non-null   int64
 5   Tutoring           2392 non-null   int64
 6   ParentalSupport    2392 non-null   int64
 7   Extracurricular    2392 non-null   int64
 8   Sports             2392 non-null   int64
 9   Music              2392 non-null   int64
 10  Volunteering       2392 non-null   int64
 11  GPA                2392 non-null   float64
 12  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(10)
memory usage: 243.1 KB

<div class="alert alert-block alert-warning">
    4.2. <b>Manage Data Types</b>
</div>

In [25]:
df['Sports'] = df['Sports'].astype('int64')

In [26]:


import numpy as np
from sklearn.preprocessing import LabelEncoder

In [27]:
data = pd.DataFrame({'Gender':df['Gender'].unique()})
data_LE = LabelEncoder()
data_LE.fit(np.ravel(data))    # data_LE.fit(data)
df['Gender'] = data_LE.transform(df['Gender'])

In [29]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data))    # data_LE.fit(data)
        df[i] = data_LE.transform(df[i])
        
columns = ['Ethnicity', 'Tutoring', 'Gender']
convertObjToInt(columns)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2392 entries, 0 to 2391
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Gender             2392 non-null   int64
 1   Ethnicity          2392 non-null   int64
 2   ParentalEducation  2392 non-null   int64
 3   StudyTimeWeekly    2392 non-null   float64
 4   Absences           2392 non-null   int64
 5   Tutoring           2392 non-null   int64
 6   ParentalSupport    2392 non-null   int64
 7   Extracurricular    2392 non-null   int64
 8   Sports             2392 non-null   int64
 9   Music              2392 non-null   int64
 10  Volunteering       2392 non-null   int64
 11  GPA                2392 non-null   float64
 12  GradeClass         2392 non-null   float64
dtypes: float64(3), int64(10)
memory usage: 243.1 KB

In [31]:
df.head(2)

,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0

In [32]:
df.to_csv('processed_data.csv', index=False, header=True)

In [33]:
df = pd.read_csv('processed_data.csv')
df

,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

<div class="alert alert-block alert-info">
    5. <b>Train - Test Splitting</b>
</div>

In [82]:
import pandas as pd
df = pd.read_csv('processed_data.csv')
df.columns

Index(['Gender', 'Ethnicity', 'ParentalEducation', 'StudyTimeWeekly',
       'Absences', 'Tutoring', 'ParentalSupport', 'Extracurricular', 'Sports',
       'Music', 'Volunteering', 'GPA', 'GradeClass'],
      dtype='object')

In [100]:

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
import pickle

df = pd.read_csv("processed_data.csv")


X = df.drop("GPA", axis=1)   
y = df["GPA"]               


train_X, test_X, train_y, test_y = train_test_split(
    X, y, test_size=0.3, shuffle=True, random_state=42
)

scaler = StandardScaler()

train_X_scaled = scaler.fit_transform(train_X)
test_X_scaled  = scaler.transform(test_X)

model = SVR(kernel='rbf', C=10, gamma='scale')
model.fit(train_X_scaled, train_y)

data_to_save = {
    "model": model,
    "scaler": scaler,
    "columns": X.columns.tolist()
}

with open("best_regression_model.pkl", "wb") as f:
    pickle.dump(data_to_save, f)

print("Model + Scaler Saved Successfully!")

Model + Scaler Saved Successfully!

In [97]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(1674, 12) (1674,)
(718, 12) (718,)

<div class="alert alert-block alert-info">
    6. <b>Applying Classifier / Model Training</b>
</div>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score
import pickle

df = pd.read_csv('processed_data.csv')


X = df.drop('GradeClass', axis=1)   
y = df['GradeClass']                


train_X, test_X, train_y, test_y = train_test_split(
    X, y, test_size=0.3, shuffle=True, random_state=42
)

rf_model = RandomForestClassifier(
    n_estimators=200,
    max_depth=None,
     random_state=42
)
rf_model.fit(train_X, train_y)
rf_pred = rf_model.predict(test_X)
rf_acc = accuracy_score(test_y, rf_pred)
print(f"RandomForest Accuracy: {rf_acc*100:.2f}%")

gb_model = GradientBoostingClassifier(
    n_estimators=200,
    learning_rate=0.1,
    max_depth=3,
    random_state=42
)
gb_model.fit(train_X, train_y)
gb_pred = gb_model.predict(test_X)
gb_acc = accuracy_score(test_y, gb_pred)
print(f"GradientBoosting Accuracy: {gb_acc*100:.2f}%")

best_model = rf_model if rf_acc >= gb_acc else gb_model
with open('best_classification_model.pkl', 'wb') as file:
    pickle.dump(best_model, file)

print("âœ… Best model saved as 'best_classification_model.pkl'")

RandomForest Accuracy: 91.64%
GradientBoosting Accuracy: 91.09%
âœ… Best model saved as 'best_classification_model.pkl'